

<div  class="jumbotron py-3"  style="background-color: rgb(248, 173, 103);">
    <h1 style="background-color:rgb(236, 198, 93);" class="display-4 text-center" >
        Applicant Form
    </h1>
</div>
    <div class="form-row">
        <div class="col-md-6"> 
            <app-applicant-form></app-applicant-form></div>
        <div class="col-md-3">
            <table style="background-color: rgb(248, 173, 103);" class="table">
                <thead  style="background-color: rgb(231, 215, 71);"class="thead-light">
                    <tr >
                        <th  style="background-color: rgb(240, 199, 87) ;">Name</th>
                        <th style="background-color: rgb(240, 199, 87);">Family Name</th>
                        <th style="background-color: rgb(240, 199, 87);">Address</th>
                        <th style="background-color: rgb(240, 199, 87);">Country</th>
                        <th style="background-color: rgb(240, 199, 87);">Email</th>
                        <th style="background-color: rgb(240, 199, 87);">Age</th>
                        <th style="background-color: rgb(240, 199, 87);">Hired</th>
                        <th style="background-color: rgb(240, 199, 87);">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of service.list">
         <td (click)="populateForm(a)">{{ a.name}}</td>
         <td (click)="populateForm(a)">{{ a.familyName}}</td>
         <td (click)="populateForm(a)">{{ a.address}}</td>
         <td (click)="populateForm(a)">{{ a.countryOfOrigin}}</td>
         <td (click)="populateForm(a)">{{ a.emailAddress}}</td>
         <td (click)="populateForm(a)">{{ a.age}}</td>
         <td (click)="populateForm(a)">{{ a.hired}}</td>
         <td>
             <i class="far fa-trash-alt fa-lg text-danger" (click)= "onDelete(a.applicantId)">
     
             </i>
         </td>
     </tr>
                </tbody>
            </table>
        </div>
    </div>

